/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
code[class*='language-'],
pre[class*='language-'] {
	font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
		'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Courier New', Courier,
		monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #2d2a55;
	color: #9efeff;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #734ab3;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #734ab3;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: rgb(179, 98, 255);
}

.token.punctuation {
	color: rgb(255, 255, 255);
}

.token.namespace {
	opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
	color: rgb(255, 98, 140);
}

.token.property {
	color: rgb(255, 180, 84);
}

.token.tag {
	color: rgb(255, 180, 84);
}

.token.string {
	color: rgb(165, 255, 144);
}

.token.selector {
	color: rgb(255, 157, 0);
}

.token.attr-name {
	color: rgb(255, 180, 84);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: rgb(165, 255, 144);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: rgb(255, 157, 0);
}

.token.statement,
.token.regex,
.token.atrule {
	color: rgb(255, 157, 0);
}

.token.placeholder,
.token.variable {
	color: rgb(255, 238, 128);
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted rgb(173, 219, 103);
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: rgb(179, 98, 255);
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: 0.4em solid rgb(179, 98, 255);
	outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
	border-right-color: #a59aed;
}

.line-numbers-rows > span:before {
	color: #a59aed;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
	background: rgba(107, 115, 148, 0.2);
	background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
	background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
}
